* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: #272727;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

h1 {
    margin-bottom: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #F1E1D2;
    width: 400px;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.26);
}

input {
    padding: 5px;
    margin: 5px 0 10px 0;
    border-radius: 5px 0 0 5px;
    border-style: none;
    border: 2px solid  #ffffff;
    color: #5A4529;
    box-shadow:2px 2px #2d2d2f88;
}

input.btn {
    background-color: #5A4529;
    border-style: none;
    border: 2px solid #2D2D2F;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: 1s all;
    color: #F1D2B1;
}

input.btn:hover {
    background-color: #F1D2B1;
    color: #2D2D2F;
}


.input {
    align-items: center;
}

p {
    color: green;
    font-weight: bolder
}